/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                MediaQY Style                 */
/*~ ------------------------------------------ ~*/

/* //////////////////////////////////////////// */
/*                   MOBILE                     */
/* //////////////////////////////////////////// */
@media screen and (max-width: 480px) {

}
/* //////////////////////////////////////////// */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
