@import "tailwindcss";

@theme {
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #444444;
  --color-neutral-700: #3a3a3a;
  --color-neutral-800: #2d2d2d;
  --color-neutral-900: #1f1f1f;
  --color-neutral-950: #0a0a0a;
  --color-light: #eeeeee;
  --color-dark: #2d2d2d;
}
