# Environment
certs/
node_modules
.env.*
.env
!.env.example
.env.development
# Editor
*.swp
*.swo
*.vscode
# Data
server/prisma/generated/**
/server/dist
/client/dist
# Nginx generated
nginx/logs/
nginx/ssl/
# Local learning/docs (not for repo)
learning/
