name: pong

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    ports:
     - ${PGPORT}:${PGPORT}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - Transcendence

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: ./server/.env.docker
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - Transcendence
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    depends_on:
      - db
  
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
   # env_file: ./client/.env
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - Transcendence
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    depends_on:
      - backend



volumes:
  postgres_data:
networks:
  Transcendence:
    driver: bridge