/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                General Style                 */
/*~ ------------------------------------------ ~*/

/*  Aplicable for all   */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita scrollbars */
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}
/**/

/* CLASSES */
.hide { display: none; }
.makeme-row { flex-direction: row; }
/**/
/*  -----------------   */

/* PONG */
#game {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: black;

	height: 100%;
	width: 100%;
}

canvas
{
	background-color: black;
	display: block;
	box-shadow: 0 0 20px crimson;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
